.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container:first-child {
  background-color: Coral;
}
.container:nth-child(2) {
  background-color: Coral;
}
