.main {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  row-gap: 17px;
  column-gap: 17px;
  grid-template-columns: repeat(3, 1fr);
}

.main__container {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main__container:first-child {
  background-color: Cornsilk;
}

.main__container:nth-child(2) {
  background-color: BlanchedAlmond;
}

.main__container:last-child {
  background-color: Bisque;
}

@media (max-width: 425px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
